<section class="row about">
  <h1>Hi there, We're Spooksy</h1>
  <p id="intro">
    We're an American brand. For us, the magic is in the mix. Dark mutilation rotten, blood in eyeball.
    Virus witch demonic dripping, at werewolf psycho slice flames. We are committed to serving the
    best interests of our shareholders.
  </p>

<article class="columns small-6 large-3">
  <%= image_tag "team3.jpg", alt:"Jocelyn" %>
  <h3>Jocelyn</h3>
  <p>
    Don't let her purple locks entice you too much, Jocelyn will make sure those stares will turn you to stone.
    Bury a scourge menacing, pain hazardous nightmare. Creep serial killer, bury a scourge menacing, pain creep nightmare.
  </p>
</article>

<article class="columns small-6 large-3">
  <%= image_tag "team1.jpg", alt:"Averi" %>
  <h3>Averi</h3>
  <p>
    Averi she spends her time wandering the woods in all her hairy glory. Her tiny feet don't match her legendary name,
    but she make a big impact at Spooksy. Undead obsession tear horrifying, a devil fiendish tense in. Death bruise.
  </p>
</article>

<article class="columns small-6 large-3">
  <%= image_tag "team2.jpg", alt:"Lauren" %>
  <h3>Lauren</h3>
  <p>
    Lauren's piercing charm entices any victim who meets her. Dark corners are her favorite retreat, especially when
    her favorite treats (sheep, goats, etc.) are around. Dark mutilation rotten, Blood hair raising or, blood in eyeball.
  </p>
</article>

<article class="columns small-6 large-3">
  <%= image_tag "team4.jpg", alt:"Laura" %>
  <h3>Laura</h3>
  <p>
    Even though she's dead, Laura is the life of the party. Her favorite activities area throwing objects, wailing, and
    moving objects to different locations in the house she haunts. Anthrax putrid, disturbing and morbid convulsing.
  </p>
</article>

</section>
