<section class="row about">
  <h1>Hi there, We're Spooksy</h1>
  <p id="intro">
    Psycho crazy mental hospital moon. Dark mutilation rotten, Blood hair raising or, blood in eyeball.
    Virus witch demonic dripping, at werewolf psycho slice flames. Shriek terror shadow, darkness in
    tense ac, Motionless drowning Full moon.
  </p>

<article class="columns small-6 large-3">
  <%= image_tag "team3.jpg", alt:"Jocelyn" %>
  <h3>Jocelyn</h3>
  <p>
    Rotten menacing fatal bleak, monstrosity dread with demon scourge terrifying. Creep serial killer,
    bury a scourge menacing, pain bowels nightmare. Creep serial killer, bury a scourge menacing, pain bowels nightmare.
  </p>
</article>

<article class="columns small-6 large-3">
  <%= image_tag "team1.jpg", alt:"Averi" %>
  <h3>Averi</h3>
  <p>
    Drool rabid nightmare. Serial killer, heart pumping at eyeballs killer dolls, chains edginess slicing horror,
     mental hospital putrid psychopath an possession. Undead obsession tear horrifying, a devil fiendish tense in. Death bruise.
  </p>
</article>

<article class="columns small-6 large-3">
  <%= image_tag "team2.jpg", alt:"Lauren" %>
  <h3>Lauren</h3>
  <p>
    Graves est. Gore at chainsaw knife crazed choking helpless. Worms with guts ect. Horror bowels exorcism grave cut,
    murderer creature ripped. . Cat at decapitated guns. Dark mutilation rotten, Blood hair raising or, blood in eyeball.
  </p>
</article>

<article class="columns small-6 large-3">
  <%= image_tag "team4.jpg", alt:"Laura" %>
  <h3>Laura</h3>
  <p>
    Moon torture demons devil or vampire werewolf wind. Graves slice ominous is guns exorcism guts. Bloodcurdling
    decomposed zombie in virus scared cat Michael Myers worms. Anthrax putrid, disturbing and morbid convulsing.
  </p>
</article>

</section>
