<section>
  <h1>Merchants!</h1>


  <h1>A</h1>
  <p>
    <% @users.each do |user| %>
    <%= link_to(user.username, user_path(user.id), alt: 'link to', class: "title") %>
    <% end %>
  </p>
  <h1>B</h1>
  <p>
    <% @users.each do |user| %>
    <%= link_to(user.username, user_path(user.id), alt: 'link to', class: "title") %>
    <% end %>
  </p>

</section>
