<section>
  <h1>All Merchants</h1>
  <p>
    <% @users.each do |user| %>
    <%= @products %>
    <%= link_to(user.username, products_path, alt: 'link to', class: "title") %> |
    <% end %>
  </p>

</section>
