/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

 body {
   background: #f2f2f2;
   font-family: 'Open Sans', sans-serif;
 }

 main {
   background: white;
 }

 a {
   color: #666;
 }

 a:hover {
   color: black;
 }

 li {
   list-style: none;
 }

 header h1, #copyright {
   text-align: center;
 }

 header h1 {
   font-family: 'Creepster', cursive;
 }

  nav {
    padding: 0 0 10px 10px;
  }

 nav a {
   letter-spacing: 0.05em;
   text-transform: uppercase;
   margin-right: 15px;
 }

 main, footer {
   padding: 30px;
 }

 footer {
   font-size: 0.65em;
   letter-spacing: 0.1em;
   text-transform: uppercase;
 }

 footer ul li {
   line-height: 2.4em;
 }

 .social-links {
   color: #666;
   text-align: center;
   font-size: 2.2em;
 }

 .social-links i {
   padding: 4px;
 }

 footer footer {
   padding-top: 1em;
   border-top: 0.2px solid rgba(0,0,0,0.3);
 }

 .product {
   display: inline-block;
   width: 250px;
 }

 .product div {
   height: 30px;
 }

 .promo {
   background-color: #bf022a;
   text-align: center;
   padding: 1em;
   font-family: 'Nosifer';
   color: crimson;
   text-shadow: 2px 2px white;
 }
