/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*= require font-awesome

*/
@import '_colors';


/*---------------------- GENERAL ----------------------------*/

body {
  background: $charcoal;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $darkgray;
}

a:hover {
  color: $black;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h5 {
  letter-spacing: 0.03em;
  border-bottom: 0.5px solid rgba($black, 0.1);
}

/*---------------------- HEADER ----------------------------*/

header h1, #copyright {
  text-align: center;
  font-family: 'Creepster', cursive;
}

/*---------------------- NAV ----------------------------*/

nav {
  padding: 0 0 10px 10px;
}

nav a {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 15px;
}

/*---------------------- MAIN ----------------------------*/

main {
  background: $white;
}

main, footer {
  padding: 50px 30px;
}

/*---------------------- FOOTER ----------------------------*/

footer {
  font-size: 0.65em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer ul li {
  line-height: 2.4em;
}

footer, footer a, .social-links i {
  color: rgba($white, 0.7);
}

footer a:hover, .social-links i:hover {
  color: rgba($white, 0.4);
}

.social-links {
  text-align: center;
  font-size: 2.2em;
}

.social-links i {
  padding: 4px;
}

footer footer {
  margin-top: 30px;
  padding-top: 1em;
  border-top: 0.2px solid rgba($white, 0.5);
}

/*---------------------- FORMS ----------------------------*/

select {
  height: auto;
  background-image: none;
  width: 30%;
}

select {
  width: 5em;
  display: block;
}

form label, form input[type="submit"]{
  text-transform: uppercase;
}
