
.description {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 1em 0;
  padding: 1em 0.5em;
}

form label, form input {
  text-transform: uppercase;
}

select {
  width: 5em;
  display: block;
}
