@import '_colors';

.description {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 1em 0;
  padding: 1em 0.5em;
}

.categories, .categories ul {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}

.all_products, .root-products {
  text-align: center;
}

.all_products h5 {
  letter-spacing: 0.05em;
}

.product {
  text-align: left;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 0.75em;
}

.product img {
  width: 100%;
}

.product p {
  margin: 0;
}

.product p:nth-child(2) {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 0 0;
  color: black;
  letter-spacing: 0.03em;
}

.promo {
  background-color: #bf022a;
  text-align: center;
  padding: 5em;
  font-family: 'Nosifer';
  color: crimson;
  text-shadow: 2px 2px white;
  margin-bottom: 2em;
}

@media screen and (min-width: 520px) {
  .product {
    width: 48%;
    min-width: 200px;
    max-width: 300px;
  }

}
