
.description {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 1em 0;
  padding: 1em 0.5em;
}

.root-products {

}

.all_products, .root-products {
  text-align: center;
}

.all_products h5 {
  letter-spacing: 0.05em;
}

.product {
  text-align: left;
  display: inline-block;
  width: 48%;
  min-width: 220px;
  max-width: 320px;
  padding: 10px;
  font-size: 0.75em;
}

.product img {
  width: 100%;
}

.product p {
  margin: 0;
}

.product p:nth-child(2) {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 0 0;
  color: black;
  letter-spacing: 0.03em;
}

.promo {
  background-color: #bf022a;
  text-align: center;
  padding: 1em;
  font-family: 'Nosifer';
  color: crimson;
  text-shadow: 2px 2px white;
}
