// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_colors';

.rating-labels {
  display: inline-block;
  transform: rotateY(180deg);
}

.rating input[type="radio"] {
  display: none;
  &:checked ~ label::before {
    color:$bloodred;
  }
}

.rating-labels label {
  display: inline-block;
  &::before {
    content: "\2625";
    color: rgba($black, 0.4);
    font-weight: 700;
    font-size: 2em;
  }
  &:hover::before {
    color: rgba($black, 1);
  }
  &:hover ~ label::before {
    color: rgba($black, 1);
  }
}
