// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_colors';

.merchant-show, .merchant-show td, .merchant-show th {
  text-align: center;
}

.merchant-show p {
  margin: 0;
}

.merchant-show h4 {
  margin-top: 2em;
}

.merchant-show table{
  border-width: 0;
}

.merchant-show thead {
  background: rgba($black, 0.8);
  border-width: 0;
  color: $white;
}

.merchant-show tbody {
  border-width: 0;
  background: rgba($black, 0.5);
}

.merchant-show tr:nth-child(even) {
  background: rgba($black, 0.3);
}

.merchant-show td, .merchant-show th {
  padding: 20px 0;
}

.merchant-show td:first-child, .merchant-show th:first-child {
  padding-left:20px;
  text-align: left;
}

@media screen and (max-width: 640px) {

  .merchant-show table {
    border: 0;
  }

  .merchant-show table caption {
    font-size: 1.3em;
  }

  .merchant-show table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .merchant-show table tr {
    border-bottom: 2em solid $charcoal;
    display: block;
  }

  .merchant-show td:first-child, .merchant-show th:first-child {
    padding-left:0px;
  }

  .merchant-show table td, .merchant-show td:first-child {
    border-bottom: 1px solid rgba($white, 0.1);
    display: block;
    font-size: .8em;
    text-align: right;
    padding-right: 10px;
  }

  .merchant-show table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
  }

  .merchant-show table td:last-child {
    border-bottom: 0;
  }
}
