<section class="forms">
<h1>Edit Product</h1>

<%= form_for @product do |f| %>
username:
<%= @product.user.username %>
<%= render partial: "form", locals: {button_name: "Update Product" } %>

<% end %>
</section>
