<section class="forms">
<h1>Add Product</h1>

<%= form_for @product do |f| %>

<%= f.hidden_field :user_id, required: true, value:@user.id, readonly: true %>

<%= render partial: "form", locals: {button_name:"Add Product"} %>

<% end %>
</section>
