<h1>Update Product Quantity</h1>
<%= form_for @order_product do |f| %>
<%= f.label :quantity %>
<%= f.select :quantity, options_for_select(1..10, @order_product.quantity) %>
<%= f.submit "Update Quantity", class: "button" %>
<% end %>
